.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 730px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 7, 99, 1);
}
.desktop1-panel-right {
  top: 0px;
  left: 474px;
  width: 1081px;
  height: 730px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px 0 0 40px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-login {
  gap: 8px;
  top: 488px;
  left: 358px;
  width: 141px;
  height: 68px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  animation-name: pulse;
  animation-delay: 500ms;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 1);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.desktop1-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-sign-up {
  gap: 8px;
  top: 488px;
  left: 155px;
  width: 141px;
  height: 68px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  animation-name: tada;
  animation-delay: 500ms;
  justify-content: center;
  background-color: rgba(255, 7, 99, 1);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.desktop1-text02 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-password {
  gap: 8px;
  top: 398px;
  left: 155px;
  color: rgba(130, 130, 130, 1);
  width: 747px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text03 {
  top: 369px;
  left: 163px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-email {
  gap: 8px;
  top: 284px;
  left: 155px;
  color: rgba(130, 130, 130, 1);
  width: 747px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text05 {
  top: 255px;
  left: 163px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-lastname {
  gap: 8px;
  top: 171px;
  left: 607px;
  color: rgba(130, 130, 130, 1);
  width: 295px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  text-align: left;
  align-items: flex-start;
  font-family: Inter;
  font-weight: 500;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text07 {
  top: 138px;
  left: 607px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text09 {
  top: 138px;
  left: 163px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text11 {
  top: 24px;
  left: 67px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-tracksenselogo1 {
  top: 310px;
  left: 170px;
  width: 371px;
  height: 338px;
  position: absolute;
  border-radius: 100px;
}
.desktop1-text13 {
  top: 32px;
  left: 86px;
  color: rgba(255, 255, 255, 1);
  width: 336px;
  height: auto;
  position: absolute;
  font-size: 43px;
  font-style: Regular;
  text-align: left;
  font-family: Suez One;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
