.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 7, 99, 1);
}
.desktop1-panel-right {
  top: 0px;
  left: 480px;
  width: 960px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px 0 0 40px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text {
  top: 117px;
  left: 110px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-inputfield {
  gap: 10px;
  top: 287px;
  left: 110px;
  width: 376px;
  height: 55px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(107, 107, 107, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-frame1 {
  gap: 10px;
  top: -10px;
  left: 35px;
  width: 100px;
  display: flex;
  padding: 0 8px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text02 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-inputfield1 {
  gap: 10px;
  top: 287px;
  left: 547px;
  width: 376px;
  height: 55px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(107, 107, 107, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-frame11 {
  gap: 10px;
  top: -10px;
  left: 35px;
  width: 98px;
  display: flex;
  padding: 0 8px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text04 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-inputfield2 {
  gap: 10px;
  top: 394px;
  left: 110px;
  width: 813px;
  height: 55px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(107, 107, 107, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-frame12 {
  gap: 10px;
  top: -10px;
  left: 35px;
  width: 58px;
  display: flex;
  padding: 0 8px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text06 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-inputfield3 {
  gap: 10px;
  top: 492px;
  left: 110px;
  width: 813px;
  height: 55px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(107, 107, 107, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-frame13 {
  gap: 10px;
  top: -10px;
  left: 35px;
  width: 92px;
  display: flex;
  padding: 0 8px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text08 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame2 {
  gap: 10px;
  top: 590px;
  left: 110px;
  width: 813px;
  display: flex;
  padding: 11px 40px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 7, 99, 1);
}
.desktop1-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text12 {
  top: 694px;
  left: 110px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text13 {
  color: rgba(107, 107, 107, 1);
}
.desktop1-text14 {
  color: rgba(255, 7, 99, 1);
}
.desktop1-tracksenselogo1 {
  top: 512px;
  left: 78px;
  width: 470px;
  height: 414px;
  position: absolute;
  border-radius: 100px;
}
.desktop1-text15 {
  top: 58px;
  left: 45px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 69px;
  font-style: Regular;
  text-align: left;
  font-family: Suez One;
  font-weight: 400;
  line-height: 67px;
  font-stretch: normal;
  text-decoration: none;
}
