<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="desktop1-container">
        <div class="desktop1-desktop1">
            <div class="desktop1-panel-right">
                <h2 class="Heading">Create Account</h2>
                <form action="/signup" method="post">
                    <div class="desktop1-inputfield">
                        <input type="text" id="first-name" name="first-name" class="input" placeholder="First Name" required><br><br>
                    </div>
                    <div class="desktop1-inputfield1">
                        <input type="text" id="last-name" name="last-name" class="input" placeholder="Last Name" required><br><br>
                    </div>
                    <div class="desktop1-inputfield2">
                        <input type="email" id="email" name="email" class="input" placeholder="Email" required><br><br>
                    </div>
                    <div class="desktop1-inputfield3">
                        <input type="password" id="password" name="password" class="input" placeholder="Password" required><br><br>
                    </div>
                    <button type="submit" class="button">Create Account</button>
                </form>
                <p class="desktop1-text10">
                    <span class="desktop1-text11">Already have an account?</span>
                    <a class="desktop1-text12" href="./login.html">Login</a>
                </p>
            </div>
            <img src="./tracksense logo.png" alt="tracksenselogo127" class="desktop1-tracksenselogo1">
            <p class="desktop1-text13">
                Your first<br>
                step<br>
                towards<br>
                your<br>
                Digital<br>
                Wellbeing
            </p>
        </div>
    </div>
</body>
</html>